body{
    margin:0;
    padding:0;
    font-family: Montserrat, sans-serif;
    height:100vh;

}

.main-navbar{
    background-color: white;
    height:80px;
    width: 100%;
    z-index: 2;
    padding-bottom:20px;
}

.main-navbar:after{
    content: '';
    clear:both;
    display:block;
}
.main-navbar > ul > li {
    float:left;
    position:relative;
}

.main-navbar ul li a {
    color: black;
    letter-spacing: 1px;
    display: block;
    padding:5px;

}
.main-navbar ul li:hover a{
    background-color: white;
    
}
.main-navbar ul ul{
    display:none;
    position:absolute;
    
}

.main-navbar ul li:hover > ul{
    display:block;
    width: 100%;
    
}
.nav-icon{
    width:30%;
    align-items: center;
    color: black;
    letter-spacing: 3px;
    
}
.navbar-nav{
    
    align-items: center;

}
.container-fluid{
    width:100%;
    align-items: center;

}

.hero img{
    width:100%;
    height: 50%;
    
    
}
.welcome-text{
    font-size: 20px;
}



.review-heading{
    letter-spacing: 2px;
    padding-bottom: 15px;
    
}

.testimonial-section .reviews .testimonial-text {
    position: relative;

}

.sub-heading{
    padding-bottom: 20px;
}

.review-image img{
    width: 100%;
}

.testimonial-section{
    width: 50%;
    height: 500px;

}

.testimonial-text{
    overflow: hidden;
    display: flex;

}

.testimonial-text .review{
 
    flex: 1;
    margin: 2px;

}

.testimonial-text .review .personal-info{
    height:100px;
    width:100%;
}
.testimonial-text .review .personal-info img{
    height:50px;
    width:100%;
    object-fit: cover;
}
.review-form-container{
    background-color: #E8E8E8;
    width: 50%;
    border-radius: 25px;
    padding: 20px;
  
}

.rewind-form-container{
    background-color: #E8E8E8;
    width: 50%;
    border-radius: 25px;
    padding: 30px;
    margin-left: 30px;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 30px;
    padding: 30px;
    color: black;
    
}

.login-form{
    
    height: 100vh;
    object-fit: contain;
}

.locations-container{
    margin-top: 80px;
}
.location img{
width: 100%;
object-fit: contain;

}

.image-title{
  
    text-align: center;
    background-color: white;
    position:absolute;
    color:black;
    padding: 10px;
}

.rewind-programme img{
    width:70%;
    
}

.restart-programme img{
    width:70%;
    
}
.renew-programme img{
    width: 70%;
}
.img-container{
    object-position: center;
 

}

.retreat-heading{

    padding-top: 30px;
}

.rewind-programme{
    margin: 20px;
}

.restart-programme{
    margin: 20px;
}

.image-title-2{
text-align: center;
background-color: white;
position:absolute;
color:black;
padding:0;

}
div#map {min-height: 360px;}

.programme-img{
 
    float: right;
    margin-top: 30px;
    margin-right: 100px;
    width:35%;

}

.review-image{
    width:50%;
    float: right;
}

.user-caption{
    float:right;
    bottom:-8%;

}
.contact-us{
    padding: 20px;
}
.contact-form-container{
    margin-top: 10px;
    background-color: #E8E8E8;
    border-radius: 25px;
    padding:15px;
    width:50%;
    
}

.contact-details-container{
    padding-top:40px;
    width:100%;
}

#map{
    min-height: 360px;
    object-position: center;
   
}

.display{
    display:block;
}