
.main-navbar{
    width: 100%;
    align-items: center;
}

.nav-icon{
    width:30%;
    align-items: center;

}
.navbar-nav{
    
    align-items: center;

}
.container-fluid{
    width:100%;
    align-items: center;

}