{% extends "base.html" %}


{% block content %}


    <div class = "login-form">
    <h1 class="text-center"> Login here </h1>
    
            <div class = "align-items-center justify-content-center d-flex">
            <div class="form-login-container border m-4">
    <form action = "" method = "post" class="p-10" >
        {% csrf_token %}
        <div>
            <label for="username"> Username</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password"> Password </label>
            <input type="password" name="password">
        </div>
        <input type = "submit">
    </form>
     

            <div>
        <p> Don't have an account with us? <a href="{% url 'register' %}"> Sign up</a> </p>
    </div>
    </div>
    </div>
    </div>

    {% endblock %}