{% extends "base.html" %}

{% block content %}

    <div class = "login-form">
    <h1 class="text-center"> Register to become part of the Reset Bali community  </h1>
    
    <div class = "align-items-center justify-content-center d-flex">
        <div class="form-login-container border m-4">

    <form action = "" method = "post">
        {% csrf_token %}
        {{ form.as_p}}


        <input type = "submit" name = "Register now">
    </form>

    <div>
        <p> Already have an account? <a href="{% url 'login' %}"> Login </a> </p>
    </div>
    </div>
    </div>
  </div>

  {% endblock %}