<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Reset Bali </title>
    
</head>
<body>
    <header>
       <div class = "container-fluid"> 
        <div class = "align-items-center">
        <div class = "site-logo"> <a href="index.html"> Reset Bali </a>  </div>
        <nav>
        <ul>
            <li><a href="index.html"> Home</a></li>
            <li><a href="programmes.html">Our Programmes</a>
            <ul class="dropdown">
                <li><a href=""> option a </a></li>
                <li><a href=""> option b </a></li>
                <li><a href=""> option c </a></li>
            </ul></li>
            <li><a href="contact.html"> Contact us</a></li>
            <li><a href="" class = "btn btn-info"> Login</a></li>
            <li><a href="" class = "btn btn-light"> Register</a></li>
        </ul>
        </nav>
        </div>
       </div> 



    </header>
</body>
</html>