{% extends "base.html"  %}

{% block content %}

        <div>
               <div class="row">
                <div class="col-6 float-left">
                        <p>Phone: +62 877 8722 2220  </p>
                        <p> Email: info@balireset.com</p>
                        <p> Locations: </p>
                        <div id="map"></div>
                    

                </div>
                <div class="col-6 float-right">

                </div>
               </div>


        </div>

     
    <script>
            function initMap() {
                var googlemap = new google.maps.Map(document.getElementbyId("map"),{
                    zoom : 4,
                    center:{
                        lat:-8.342124,
                        lng:115.088438 
                    }
                });
            }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDevwKFROExWQ5itmHUhvNJMH_8sWbDBHw&callback=initMap"></script>


{% endblock %}