{% extends "base.html"  %}
{% load static %}
{% block content %}

        <div>
               <div class="row contact-details-container">
                <div class="col-6 text-center">
                    <h3> Our details </h3>
                    <hr class="w-50 hr">
                        <p>Phone: +62 877 8722 2220  </p>
                        <p> Email: info@balireset.com</p>
                        <p> Locations: </p>
                        <div id="map"></div>
                    

                </div>
                <div class="contact-us">
              
                   
                    <h3 class = "text-center"> Get in touch </h3>
                    <div class="align-items-center justify-content-center d-flex">
                    <div class = "contact-form-container">
                    <form action="{% url 'form_contact'%}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type = "submit" class="btn btn-dark"> Submit</button>
                    </form>
        
                    </div>
          
                </div> 
                </div>
               </div>


        </div>


<script>
    function initMap(){
        var map = new google.maps.Map(document.getElementById("map"),{
            zoom: 4,
            center: {
                lat:  -8.409518,
                lng:  115.188919
            }
        });
        new google.maps.Marker({
            position : {lat:-8.5069 ,lng:115.2625}, map,
            title: "UBUD",
        })
        new google.maps.Marker({
            position : {lat:-8.6913,lng:115.1682}, map,
            title: "SEMINYAK",

        })
    }
   
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGIUweH84pCcagHcAAiDIzHyPZ7WiLPQU&callback=initMap"></script>

{% endblock %}