{% extends "base.html" %}

{% load static %}

{% block title %}
    <title> My Bookings </title>
{% endblock %}

{% block content %}
      
        <h4> Current bookings </h4>
       <div class="booking-table-container">
        <table class="table table-hover table-striped ">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Programme</th>
            <th scope="col">Dates</th>
            <th scope="col">Status</th>
            <th scope="col">Delete/Modify</th>
          </tr>
        </thead>
            {% for booking in bookings %}
            
           
        <tbody>
          <tr>
            <th scope="row"></th>
    
            <td>{{ booking.programme }}
            </td>
            <td>{{ booking.date }}</td>
            <td>{{ booking.status }}</td>
            <td> <a href="{% url 'delete_booking' booking.id %}"> <i class="delete fa-solid fa-trash-can"></i> </a><a href="{% url 'update_booking' booking.id %}"><i class="modify fa-solid fa-pen-to-square"></i></a>
            </td>
   
          </tr>
        
         {% endfor %}

         {% for booking in bookings_renew %}
            
           
         <tbody>
           <tr>
             <th scope="row"></th>
     
             <td>{{ booking.programme }}
             </td>
             <td>{{ booking.date }}</td>
             <td>{{ booking.status }}</td>
             <td> <a href="{% url 'delete_renew_booking' booking.id %}"> <i class="delete fa-solid fa-trash-can"></i> </a><a href="{% url 'update_renew_booking' booking.id %}"><i class="modify fa-solid fa-pen-to-square"></i></a>
             </td>
    
           </tr>
         
          {% endfor %}

          {% for booking in bookings_restart %}
            
           
          <tbody>
            <tr>
              <th scope="row"></th>
      
              <td>{{ booking.programme }}
              </td>
              <td>{{ booking.date }}</td>
              <td>{{ booking.status }}</td>
              <td> <a href="{% url 'delete_restart_booking' booking.id %}"> <i class="delete fa-solid fa-trash-can"></i> </a><a href="{% url 'update_restart_booking' booking.id %}"><i class="modify fa-solid fa-pen-to-square"></i></a>
              </td>
     
            </tr>
          
           {% endfor %}
        </tbody>
        </table>
       </div>
       
       
{% endblock %}