{% extends "base.html" %}

{% load static %}

{% block content %}
       <h2>  {{ user.username }}'s bookings </h2>
       <div>
        <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Programme</th>
            <th scope="col">Dates</th>
            <th scope="col">Status</th>
            <th scope="col">Delete/Modify</th>
          </tr>
        </thead>
            {% for booking in bookings %}
           
        <tbody>
          <tr>
            <th scope="row"></th>
    
            <td>{{ booking.programme }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ booking.status }}</td>
            <td> <i class="fa-solid fa-trash-can"></i><a href="{% url 'update_booking' booking.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
   
          </tr>
        
         {% endfor %}
        </tbody>
        </table>
       </div>
       
       
{% endblock %}