{% extends "base.html" %}

{% load static %}

{% block title %}
    <title> Booking Confirmed </title>
{% endblock %}

{% block content %}
        <div class="text-center">
                        <h1 class="confirmation-heading font-italic"> Thanks for booking with us {{ user.username }} </h1>

                        <h3 class="confirmation-tagline"> We can't wait to have you experience complete tranquility with us</h3>

                        <h5> One of our Reset Bali team members will be in touch soon about payment options. In the meantime if you have any questions <br>
                        please feel free to <a href="{% url 'form_contact' %}"> contact us  </a> </h5>

                        <p class="confirmation-para"> If you need to amend your booking or cancel it completely, please do so <a href="{% url 'mybookings'%}">here</a/p>
        </div>

{% endblock %}