{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100;1,300&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc5874c006.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">


    <title> Reset Bali </title>

</head>

<body class="h-100">
<header>

    <nav class="navbar main-navbar navbar-expand-md text-center ">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand nav-icon " href="index.html"> <h2> Reset Bali </h2> </a>
            </div>

            <ul class="list-unstyled nav navbar-nav p-4 text-center">
                <li class="p-2 active"><a href="index.html"> Home</a></li>
                <li class="p-2 has-children dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"> Our Programmes</a>
                
                        <ul class="list-unstyled">
                            <li><a href=""> Rewind </a></li>
                            <li><a href=""> Restart </a></li>
                            <li><a href=""> Renew </a></li>
                        </ul>
                    
                </li>
                <li class="p-2"><a href="contact.html"> Contact us</a></li>
                
                {% if user.is_authenticated %}
                <li class="pl-5"><a href="{% url 'logout' %}" class="btn btn-info"> Logout</a></li>
                {%else%}
                <li class="pl-5"><a href="{% url 'login' %}" class="btn btn-info"> Login</a></li>
                <li class="p-1"><a href="{% url 'register' %}" class="btn btn-light"> Register</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% for booking in rewindbookings.bookings %}
        {{ booking.programme }}
        {{ booking.date }}
        {% endfor %}
       <h2>  {{ user.username }}'s bookings </h2>
       <div>
        <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Programme</th>
            <th scope="col">Dates</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
            {% for booking in bookings %}
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>{{ booking.programme }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ booking.status }}</td>
          </tr>
         {% endfor %}
        </tbody>
        </table>
       </div>
       
       
<footer>
        <ul class="social-links list-unstyled text-center">
            <li>
                <a href="https://www.instagram.com/?hl=en" target="_blank" rel="noopener"
                    aria-label="Visit us on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit us on Facebook"><i
                        class="fab fa-facebook-square" aria-hidden="true"></i> </a>
            </li>
            <li>
                <a href="https://twitter.com/?lang=en" target="_blank" rel="noopener" aria-label="Visit us on Twitter">
                    <i class="fab fa-twitter-square" aria-hidden="true"></i></a>
            </li>
        </ul>
        <p class="copyright text-center"> &copy; 2022 Reset Bali</p>
    </footer>
   
</body>
</html>