{% extends "base.html" %}

{% load static %}

{% block title %}
    <title> Locations </title>
{% endblock %}

{% block content %}


    <title> Reset Bali </title>


            <div class= "locations-container container-fluid mt-80">
                <h2 class="text-center"> Pick one of our locations</h2>
                <div class="row">
                <div class="location col-md-6">
                    <a href="{% url 'ubud' %}"> <h2 class="image-title carousel-caption"> UBUD </h2> </a>
                   <a href="{% url 'ubud' %}"> <img src="{% static '/images/swing.jpeg'%}" alt=" girl on a swing"> </a>
                </div>
                <div class="location col-md-6">
                    <a href="{% url 'seminyak' %}"> <h2 class="image-title carousel-caption"> SEMINYAK </h2> </a>
                    <a href="{% url 'seminyak' %}"> <img src="{% static '/images/bali-beach.jpeg'%}" alt="beach view"> </a>
                </div>
            </div>
            </div>

{% endblock %}