{% extends "base.html"%}

{% load static %}

{% block title %}
    <title> Seminyak </title>
{% endblock %}

{% block content %}


    <div class="container-fluid seminyak-container">
        
        <h3 class="text-center retreat-heading seminyak-heading"> Our SEMINYAK retreat </h3>
        <div class="row renew-programme">
            <div class="col-5 img-container">
                <h2 class="carousel-caption image-title-2"> RENEW </h2>
                <img src="{% static '/images/sunset.jpeg'%}" >
            </div>
            <div class="col-5 programme-info"> 
                
                <p> Our 7 day renew programme </p>
                
                <p class="font-italic">  Located beside the stunning beach resort area of Kuta and Legian, it is the perfect destination to unwind while experiencing what seminyak has to offer </p>
                <p class="font-italic"> Our longest programme will leave you feeling renewed and wanting to stay longer </p>
                <button class="btn btn-dark"><a class="text-white" href="{% url 'renewbooking' %} "> BOOK NOW </a></button>
            </div>
        </div>
    </div>

{% endblock %}