{% extends "base.html"%}

{% load static %}

{% block content %}


    <div class="container-fluid seminyak-container">
        
        <h3 class="text-center retreat-heading"> Our SEMINYAK retreat </h3>
        <div class="row renew-programme">
            <div class="col-6 img-container">
                <h2 class="carousel-caption image-title-2"> RENEW </h2>
                <img src="{% static '/images/sunset.jpeg'%}" >
            </div>
            <div class="col-6"> 
                
                <p> Our 7 day renew programme </p>
                <button class="btn"><a href="{% url 'renew' %} "> ENQUIRE NOW </a></button>

            </div>
        </div>
    </div>

{% endblock %}