{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> Ubud </title>
{% endblock %}
{% block content %}


    <div class="container-fluid ubud-container">

        <h3 class="text-center retreat-heading font-italic"> Our UBUD retreats </h3>
        <hr class="w-50">
        <div class="row rewind-programme">
            <div class="col-md-5 img-container">
                <h2 class="carousel-caption image-title-2"> REWIND </h2>
                <img src="{% static 'images/flower1.jpeg'%}" alt="flowers" >
            </div>
            <div class="col-md-5 programme-info"> 
              
                <p class="font-weight-bold"> Our 3 day REWIND programme </p>
                <p class="font-italic"> Situated among the green hillsides and rice terraces, experience complete bliss, rewind back and focus on you! </p>
                <p class="font-italic"> Perfect for those wanting to fit in a quick break away</p>
               
                <a class="text-black" href="{% url 'rewindbooking' %}"> BOOK NOW </a>

            </div>
        </div>
        <div class="row restart-programme">
            <div class="col-md-5 img-container">
                <h2  class="carousel-caption image-title-2"> RESTART </h2>
                <img src="{% static 'images/stones.jpeg'%}" alt="stones">
            </div>
            <div class="col-md-5 programme-info"> 
                <p class="font-weight-bold"> Our 5 day RESTART programme </p>
                <p class="font-italic"> Take in the beautiful panorama of UBUD and restart yourself among the peace and quiet </p>
                <p class="font-italic"> A longer stay will leave you feeling reset and ready to take on the world</p>
                <a class="text-black" href="{% url 'restartbooking' %}"> BOOK NOW </a>
            </div>
        </div>
        
        

    </div>
   
    {% endblock%}
