<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/base.css">
    <title> Reset Bali </title>

</head>

<body class="h-100">

    <nav class="navbar navbar-expand-md align-items-center ">
        <div class="container-fluid">
            <a class="navbar-brand nav-icon" href="index.html"> Reset Bali </a>
        <ul class="list-unstyled navbar-nav p-4">
            <li class="p-2"><a href="index.html"> Home</a></li>
            <li class="nav-item dropdown p-2">
                <a class="dropdown-toggle nav-link"> Our Programmes</a>
                <ul class="dropdown-menu">
                    <li><a href=""> option a </a></li>
                    <li><a href=""> option b </a></li>
                    <li><a href=""> option c </a></li>
                </ul>
            </li>
            <li class="p-2"><a href="contact.html"> Contact us</a></li>
          
            <li class="pl-5"><a href="" class="btn btn-info"> Login</a></li>
            <li class="p-1"><a href="" class="btn btn-light"> Register</a></li>
        </ul>
   
    </div>
    </nav>

</body>