{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %} 
        <div class = "hero" >
            <img src="{% static '/images/hero-image.jpeg'%}"> 
            {% if user.is_authenticated %}
        <h4 class="carousel-caption user-caption"> Welcome {{ user.username }} </h4></div>
        {% endif%}
        </div>
        <div class="hero-text mb-3 p-4">
            <h2 class = "text-center">
                Your peaceful oasis <Br> awaits you
            </h2> 
            <p class = "text-center"> Take time out and experience one <br>
            of our retreat packages <a href="{% url 'locations' %}" class="text-black-50"><i class="fa-solid fa-circle-arrow-right"></i> </a> </p>
        </div>

        <div class="about m-4">
            <h2> Welcome to Reset Bali </h2><br>
            <p class="lead welcome-text"> Escape to one of our Bali locations and experience complete relaxation. We currently run our retreats in two beautiful Bali locations, Ubud and Seminyak. Choose from one of our three programmes, all offering Yoga, Meditation, Sea swimming and Hiking. If you want a quick weekend retreat, our 3-day programme could be for you. We also offer a 5-day and 7-day retreat for those wanting just that bit longer to treat themselves and unwind!</p>
            </div>

        <div class="reviews container-fluid p-5">
            <div class="row">
            <div class="col testimonial-section">
                <h3 class="text-center review-heading pt-5"> Testimonials </h3>
                <h5 class="text-center pt-2 sub-heading"> Look what our amazing attendees have said about us... </h5>
                <div class="testimonial-text owl-carousel review-1 review personal-info text-center">
                    
                    
                        {% for review in reviews %}
                    <div>
                      
                        <hr class="w-50">
                        <p class="font-italic">
                            {{ review.your_experience }}
                        <hr>
                        </p>
                        <p>
                            <i class="fa-solid fa-star"></i>  {{review.rating}} / 5
                        </p>
                     
                        <p class="font-weight-bold text-uppercase"> programme: {{ review.programme_attended }} </p>
                       <p> Posted by <span class="font-italic"> {{review.name}}</span> on {{review.date}} </p>
                        </div>
                        {% endfor %} 
                       
                </div>
                </div>

            <div class="col review-image">
                <img src="{%static 'images/swing1.jpeg'%}">
            </div>
        </div>
       

        <hr>
        
        <div class="review-form">
              
            <h3 class="m-4 text-center"> We would love to hear about your experience</h3>
            {% if user.is_authenticated %}
            <h4 class = "text-center pt-20"> Submit your review here</h4>
            <div class="align-items-center justify-content-center d-flex">
            <div class = "review-form-container">
            <form action="{% url 'form_review' %}" method="post" id="reviewPost">
                {% csrf_token %}
                {{ form|crispy}}
                <button type = "submit" class="btn btn-dark" data-toggle="modal" data-target="reviewModal" aria-labelledby="thanks-modal" aria-hidden="true"> Submit review</button>
            </form>
            {% else %}
            <div class="text-center"> <h4> <a href="{% url 'login'%}">Login</a> to leave a review</h4></div>
            </div>
            {% endif %}
            </div>
  
        </div> 
        <div class="modal" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close" data-dismiss="modal" aria-label="Close">Close</button>
                
                  </div>
                </div>
              </div>
        </div>
<script>
            $('#reviewPost').on('submit', function(e){
                 $('#reviewModal').modal('show');
                 e.preventDefault();
                
});
</script>
 <script>
            $(".testimonial-text").owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                items:1,
            });
</script>

 {% endblock %}